.bg-body- {
    background-color: #f5f5fc;
}

/*this is for parent div in line 49 in html it includes all he content of page*/
.parent {
    overflow-x: hidden;
    width: 100%;
}

.w-95 {
    width: 95%;
}
.bg-light-MyCss {
    background-color: #dfe2e8;
}
/*---------------------------------------------------------------------------------*/
/* header */
/*------------------ These are for background in top of the page*/
.header {
    background: url("/imgs/main-page-header-lg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    width: 100%;
    position: relative;
}

.header-img {
    opacity: 0;
    position: relative;
}

.header-items {
    position: absolute;
    top: 70%;
    padding-left: 10px;
}

@media (max-width: 900px) {
    .header-items {
        top: 60%;
        opacity: 90%;
    }
}

.header-items:hover,
.header-items:active {
    opacity: 100%;
    transform: scale(1.05);
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.header-title {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: #0a53be 3px solid;
    padding-left: 10px;
}


.title {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 85% 100%, 100% 0%);
    border-left: #0b5ed7 3px solid;
    font-family: "Calisto MT", sans-serif;
    padding: 10px 0;
}

@media (max-width: 576px) {
    .title {
        font-size: 0.7rem;
    }

}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

}

@media (max-width: 992px) {
    .title {
        font-size: 1.5rem;
    }
}


/*main titles section ---------------------------------------------------------------*/
.title-parent {
    overflow: hidden;
    position: relative;
}

.main-title {
    padding-left: 5px;
    border-left: #0b5ed7 4px solid;
    font-family: "Calisto MT", sans-serif;
}

.main-title::after {
    content: "";
    position: absolute;
    opacity: 60%;
    width: 100%;
    height: 20px;
    border-bottom: #000000 3px solid;
    margin-left: 10px;

}

/*end main titles section ---------------------------------------------------------------*//*-------------------------------------------------------------------------------to this line the codes ore same in all pages*/